.main-top nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-top nav ul {
    display: flex;
    transition: 1s;
}

.main-top nav ul li {
    margin: 0em 1em;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.main-top nav ul li a{
    color: black;
}

.main-top nav .nav-blanket{
    position: fixed;
    width: 0px;
    height: 0px;
}

.main-top nav .nav-blanket.active{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--blancket);
    z-index: 998;
}

.main-top nav .burger{
    display: none;
}

.main-top nav ul.active {
    right: 0px;
}

nav ul .close-btn{
    display: none;
}

@media only screen and (max-width: 930px) {
    .main-top nav ul {
        flex-direction: column;
        position: fixed;
        background: rgb(100,92,187);
        background: linear-gradient(0deg,  0%,  99%);
        background: linear-gradient(0deg, rgba(235,199,230,1) 0%, rgba(100,92,187,1) 99%);
        top: 0px;
        right: 0px;
        height: 100%;
        width: 250px;
        align-items: center;
        padding-top: 2rem;
        right: -250px;
        z-index: 999;
    }

    .main-top nav ul li{
        margin: 1em 0em;
        color: white;
    }

    .main-top nav ul li a{
        color: white;
    }

    .main-top nav .burger{
        display: block;
        cursor: pointer;
    }

    .main-top nav .burger .line{
        width: 25px;
        height: 3px;
        background-color: black;
        margin-bottom: 4px;
    }

    nav ul .close-btn{
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.5rem;
        color: var(--color4);
        cursor: pointer;
    }
}



.gra-border-con {
    width: 8em;
    height: 3em;
    position: relative;
}

.gra-border-con .title{
    color: #1b212f;
    border-radius: 50px;
    background-color: white;
    width: 121%;
    height: 95%;
    position: absolute;
    top: 12.5%;
    left: 5%;
    padding-left: 20px;
    line-height: 2.5em;
    font-size: 25px;
}

.logo-div{
    width: 30%;
}
nav ul{
    width: 70%;
}
.gra-border-con .title:hover{
    box-shadow:  0px 0px 29px 4px #ff0088;
}

.gra-border-con::after {
    content: '';
    width: 120%;
    height: 120%;
    background: linear-gradient(90deg,#ff0088 0%, #ff0088 60% 100%);
    position: absolute;
    left: 0%;
    z-index: -1;
    border-radius: 50px;
}
